<div class="container">
        <div class="col-md-12 column">
            <h1>Members <small>[{{users.length}}]</small></h1>
            <input placeholder="Filter users. Example: type yahoo for filtering users with yahoo! email" class="form-control" type="text" ng-model="filterUA" />
            <br/>
            <div class="col-md-5 column thumbnail" style="background:#f2f2f2;margin:5px" ng-repeat="user in users | orderBy:'firstname'| filter:filterUA" >
                <div class="col-md-3">
                    <img ng-show="user.avatar" ng-src="{{user.avatar}}" width="100" class="img-responsive img-rounded img-thumbnail"/>
                    <img ng-show="!user.avatar" ng-src="images/user_man-512.png" width="100" class="img-responsive img-rounded img-thumbnail"/>
                </div>
                <div class="col-md-9">
                    <br/>
                    <a href="#/user/{{user.id}}"><h4>{{user.firstname}} {{user.lastname}}</h4></a>
                    <span class="glyphicon glyphicon-envelope"></span> 
                    <a href="mailto:{{user.email}}"><span style="color:grey">{{user.email}}</span></a>
                </div>
            </div>

        </div>

        <div ng-include="'pages/accounting/salary_sumup.html'"></div>
</div>



