<div class="container">


      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Members&reg;</h3>

        <div class="col-md-12 column">
            <h4>{{users.length}} members</h4>
            <input ng-class="{'farsi':!$parent.isASCII(filterUA, true)}"
            placeholder="Filter users. Example: type yahoo for filtering users with yahoo! email" class="form-control" type="text" ng-model="filterUA" />
            <br/>
            <div class="col-md-5 column thumbnail" style="background:#f2f2f2;margin:5px" ng-repeat="user in users | orderBy:'firstname'| filter:filterUA" >
                <div class="col-md-3">
                    <img ng-show="user.avatar" ng-src="{{user.avatar}}" style="height:100px" height="100" class="img-responsive img-rounded img-thumbnail"/>
                    <img ng-show="!user.avatar" ng-src="images/user_man-512.png" style="height:100px" height="100" class="img-responsive img-rounded img-thumbnail"/>
                </div>
                <div class="col-md-9">
                    <br/>
                    <a href="#/user/{{user.id}}"><h4>{{user.firstname}} {{user.lastname}}</h4></a>
                    <span class="glyphicon glyphicon-envelope"></span> 
                    <a href="mailto:{{user.email}}"><span style="color:grey">{{user.email}}</span></a>
                </div>
            </div>

        </div>

        <div ng-include="'pages/accounting/salary_sumup.html'"></div>
</div>



