

    <div class="container">

      <form class="form-signin" role="form" ng-submit="doLogin()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" ng-model="loginInfo.email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" ng-model="loginInfo.password"  required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button ng-click="loginInfo.action='login'" class="btn btn-lg btn-primary btn-block" >Sign in</button>
      </form>

    </div> <!-- /container -->


