

    <div class="container" >
      <form class="form-signin" role="form"  enctype="multipart/form-data">
        <h3 class="form-signin-heading"><strong>SIGN IN</strong></h3><small class="glyphicon glyphicon-cloud"></small> <small> Centeral Authentication System</small><hr/>

  <div ng-show="AuthRespMessage" class="alert alert-dismissable"
       ng-class="{'alert-danger':AuthRespMessage!='success', 'alert-sucess':AuthRespMessage=='sucess'}">
    <h5>
        <strong>{{AuthRespMessage | uppercase}}!</strong>
    </h5> <strong></strong> {{AuthRespInfo}}
  </div>

        <input type="email" class="form-control" placeholder="Email address" ng-model="loginInfo.email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" ng-model="loginInfo.password"  required>

          <table class="table borderless ">
              <tr>
                  <td class="col-md-6">
                 <button type="signin" ng-disabled="login_wait" ng-click="loginInfo.action='login';doLogin()"
                class="btn btn-lg btn-success btn-block" ><strong>Sign in</strong>  </button>
                  </td>
                  <td class="col-md-4">
                      <a class="" href="#auth/signup"><strong>Sign up</strong></a><br/>
                      <a href="#auth/reset"><small class="glyphicon glyphicon-repeat"></small> <small>Reset password</small></a>
                  </td>
                </tr>


          </table>
      </form>

    </div> <!-- /container -->


