

    <div class="container" >
      <form class="form-signin" role="form" ng-submit="doLogin()">
        <h3 class="form-signin-heading">SIGN IN</h3><small>Centeral Authentication System</small><hr/>

  <div ng-show="AuthRespInfo" class="alert alert-dismissable"
       ng-class="{'alert-danger':AuthRespMessage=='error', 'alert-sucess':AuthRespMessage=='sucess'}">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
        {{AuthRespMessage | uppercase}}!
    </h4> <strong></strong> {{AuthRespInfo}}
  </div>

        <input type="email" class="form-control" placeholder="Email address" ng-model="loginInfo.email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" ng-model="loginInfo.password"  required>

        <button type="signin" ng-disabled="login_wait" ng-click="loginInfo.action='login'"
                class="btn btn-lg btn-success btn-block" >Sign in</button>
          <table class="table table-striped">
              <tr>
                  <td class="col-md-4">
                      <button ng-if="enable_signup" ng-click="go('auth/signup')"
                              class="btn btn-lg btn-primary btn-block" >Sign up</button>
                  </td>
                  <td class="col-md-6">
                      <button ng-if="enable_signup" ng-click="loginInfo.action='reset'"
                              class="btn btn-lg btn-primary btn-block" >Reset Password</button>
                  </td>
              </tr>

          </table>
      </form>

    </div> <!-- /container -->


