<div class="container">
    <br/>
	<div class="row clearfix">
		<div class="col-md-2 column">
			<h2>
				Profile
			</h2>
			<p>
                fearless&trade; profile.  Please update it as soon as any information changed.
			</p>
			<p>
				<a class="btn" href="#about?profile=1">View details »</a>
			</p>
		</div>
		<div class="col-md-6 column">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">First name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="user.firstname" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Last name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="user.lastname" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Persian First Name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control farsi" ng-model="user.persian_firstname" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Persian Last Name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control farsi" ng-model="user.persian_lastname" />
					</div>
                </div>
				<div class="form-group" ng-if="$parent.isAdmin">
					 <label for="inputPassword3" class="col-sm-4 control-label">Email</label>
					<div class="col-sm-6">
						<input type="email" style="font-family:monospace" placeholder="Example: ceo@apple.com" class="form-control" ng-model="user.email" />
					</div>
				</div>

				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Cell Number</label>
					<div class="col-sm-6">
						<input type="tel" style="font-family:monospace" placeholder="Example: 0912-112-8899" class="form-control" ng-model="user.cell" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Address</label>
					<div class="col-sm-6">
						<input type="tel" class="form-control" placeholder="Example: P9-Gisha St,Tehran,Iran" ng-model="user.address" />
					</div>
                </div>


                    <br/>
                <div class="form-group">
					 <label class="col-sm-4 control-label">Groups</label>
                
					<div class="col-sm-6">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="" ng-repeat="group in user.grps track by $index">
                            <a><em class="fa fa-child"></em> <span ng-show="$parent.isAdmin || $parent.isManager" style="cursor:pointer" ng-click="user.grps.splice($index, 1)" class="badge pull-right fa fa-remove"> </span>{{group.name}}</a>
                            
                            </li>
                        </ul>

					</div>
                </div>

                    <br/>
                <div class="form-group">
					 <label class="col-sm-4 control-label">Departements</label>
                
					<div class="col-sm-6">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active" ng-repeat="departement in user.dps track by $index">
                            <a><em class="fa fa-group"></em> <span ng-show="$parent.isAdmin || $parent.isManager" style="cursor:pointer" ng-click="user.dps.splice($index, 1)" class="badge pull-right fa fa-sm fa-remove"> </span>{{departement.name}}</a>
                            
                            </li>
                        </ul>

					</div>
                </div>

                    <br/>
                <div class="form-group">
					 <label class="col-sm-4 control-label">Expertise</label>
                
					<div class="col-sm-6">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="expert in user.exps track by $index">
                            <a><em class="fa fa-mortar-board"></em> <span ng-show="$parent.isAdmin || $parent.isManager" style="cursor:pointer" ng-click="user.exps.splice($index, 1)" class="badge pull-right fa fa-remove"> </span>{{expert.name}}</a>
                            
                            </li>
                        </ul>

					</div>
                </div>





                    <br/>



                <div ng-if="$parent.isAdmin || $parent.isManager" style="border-top:1px solid #ccc;">
                    <br/>

				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Agreement Start</label>
					<div class="col-sm-6">
						<input type="date" class="form-control" ng-model="user.agreement_start" />
					</div>
                </div>
				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Agreement End</label>
					<div class="col-sm-6">
						<input type="date" class="form-control" ng-model="user.agreement_end" />
					</div>
                </div>
				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Job</label>
					<div class="col-sm-6">
                        <select class="form-control" ng-model="user.job">
                            <option value="supervisor">Supervisor</option>
                            <option value="director">Director</option>
                            <option value="manager">Manager</option>
                            <option value="artist">Artist</option>
                            <option value="staff">Staff</option>
                            <option value="chairman">Chairman</option>
                            <option value="CEO">Chief Executive Officer</option>
                            <option value="CFO">Chief Financial Officer</option>
                            <option value="CTO">Chief Technology Officer</option>
                            <option value="Officer">Officer</option>
                        </select>
					</div>
                </div>

                <div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Effectiveness</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="number" step="any" class="form-control" placeholder="Example: 0.75" ng-model="user.effectiveness" />
					</div>
                </div>

				<div class="form-group" ng-if="$parent.isAdmin">
					 <label for="inputPassword3" class="col-sm-4 control-label">Authorized to be</label>
					<div class="col-sm-6">
                        <select class="form-control" ng-model="user.grps" multiple 
                            ng-options="group.name for group in $parent.groups track by group.id">
                            <option value="0"></option>
                        </select>
                    </div>
                </div>

				<div class="form-group" ng-if="$parent.isAdmin">
					 <label for="inputPassword3" class="col-sm-4 control-label">Departements</label>
					<div class="col-sm-6">
                        <select class="form-control" ng-model="user.dps" multiple 
                            ng-options="dep.name for dep in $parent.departements track by dep.id">
                            <option value="0"></option>
                        </select>
                    </div>
                </div>

				<div class="form-group" ng-if="$parent.isAdmin">
					 <label for="inputPassword3" class="col-sm-4 control-label">Expertise</label>
					<div class="col-sm-6">
                        <select class="form-control" ng-model="user.exps" multiple 
                            ng-options="expert.name for expert in $parent.experts track by expert.id">
                            <option value="0"></option>
                        </select>
                    </div>
                </div>



                
                <div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Working Hours</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="number" class="form-control" placeholder="Example: 192" ng-model="user.monthly_working_hours" />
					</div>
                </div>
				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Salery</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="number" class="form-control" placeholder="Example: 1,000,000" ng-model="user.monthly_salary" />
					</div>
                </div>

				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Budget Account Code</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="number" class="form-control" placeholder="Example: 408" ng-model="user.budget_account" />
					</div>
                </div>

				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Present Hours</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="number" step="any" class="form-control" placeholder="Example: 149" ng-model="user.monthly_present_hours" />
					</div>
                </div>

				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Retention Rate</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="number" step="any" class="form-control" placeholder="Example: 20.8" ng-model="user.retention" />
					</div>
                </div>
				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Bank</label>
					<div class="col-sm-6">
						<input  type="text" class="form-control" placeholder="Example: Pasargaad" ng-model="user.bank" />
					</div>
                </div>
				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Bank Account Number</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="text" class="form-control" placeholder="Example: 1-800-123456" ng-model="user.bank_account_number" />
					</div>
                </div>
				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Debit Card Number</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="text" class="form-control" placeholder="Example: 5022-2910-1840-7500" ng-model="user.debit_card_number" />
					</div>
                </div>

            </div>
                    <br/>
                    <br/>

				<div class="form-group" ng-if="$parent.isAdmin || $parent.userInfo.userid == user.id" >
					<div class="col-sm-offset-4 col-sm-10">
						 <button type="submit" ng-click="updateUserInformation()" class="btn btn-primary">Update Information</button>
					</div>
				</div>
			</form>







		</div>
		<div class="col-md-4 column">

                     <div class="panel" id="profileImageDiv" ng-if="true" onclick="document.getElementById('selectedProfilePicFile').click();">
                         <img ng-src="{{user.avatar || 'images/user_man-512.png'}}" id="ProfilePicImg"
                        class="img-responsive img-rounded center-block img-thumbnail" alt="default icon">
                        <input type="file" id="selectedProfilePicFile" 
                        onchange="angular.element(this).scope().fileNameChanged(this)"
                        style="display: none;" accept="image/*" />
                </div>	
            
            </div>
	</div>
    <br/>
    <hr/>
        <div class="col-sm-1 column">
        </div>
        <div ng-include="'pages/auth/invoice.html'"></div>

</div>




