<div class="container">
    <br/>
	<div class="row clearfix">
		<div class="col-md-2 column">
			<h2>
				Profile
			</h2>
			<p>
                fearless&trade; profile.  Please update it as soon as any information changed.
			</p>
			<p>
				<a class="btn" href="#about?profile=1">View details »</a>
			</p>
		</div>
		<div class="col-md-6 column">

            <br/>
            <br/>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">First name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="user.firstname" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Last name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="user.lastname" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Cell Number</label>
					<div class="col-sm-6">
						<input type="tel" style="font-family:monospace" placeholder="Example: 0912-112-8899" class="form-control" ng-model="user.cell" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Address</label>
					<div class="col-sm-6">
						<input type="tel" class="form-control" placeholder="Example: P9-Gisha St,Tehran,Iran" ng-model="user.address" />
					</div>
                </div>
                    <br/>
                <div ng-if="$parent.userInfo.userid==1" style="border-top:1px solid #ccc;">
                    <br/>
				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Daily Rate</label>
					<div class="col-sm-6">
						<input style="font-family:monospace" type="number" class="form-control" placeholder="Example: 2,000,000&divide;192x8" ng-model="user.rate" />
					</div>
                </div>
            </div>
                    <br/>
                    <br/>

				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-10">
						 <button type="submit" ng-click="updateUserInformation()" class="btn btn-primary">Update Information</button>
					</div>
				</div>
			</form>







		</div>
		<div class="col-md-4 column">

                     <div class="panel" id="profileImageDiv" ng-if="true" onclick="document.getElementById('selectedProfilePicFile').click();">
                         <img ng-src="{{user.avatar || 'images/user_man-512.png'}}" id="ProfilePicImg"
                        class="img-responsive img-rounded center-block img-thumbnail" alt="default icon">
                        <input type="file" id="selectedProfilePicFile" 
                        onchange="angular.element(this).scope().fileNameChanged(this)"
                        style="display: none;" accept="image/*" />
                </div>	
            
            </div>
	</div>
</div>




