
<div class="container">
    <br/>
    <br/>
			<div class="row clearfix">
				<div class="col-md-4 column">
                      <!--  UPLOAD IMAGE AREA !-->
                     <div class="panel" ng-if="true">
                        <img width="280"  ng-if="icon" ng-src="data:image/png;base64,{!icon!}"
                        class="img-responsive img-rounded center-block img-thumbnail" alt="{! id !} icon">
                        <img width="280"  ng-if="icon==null" src="images/user_man-512.png"
                        class="img-responsive img-rounded center-block img-thumbnail" alt="default icon">

                    </div>

              </div>
				<div class="col-md-4 column">


				</div>
				<div class="col-md-4 column">
				</div>
			</div>


</div>