
  <div class="container" >


    <div class="row clearfix">

      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Report Panel&reg;</h3>

    <hr/>

            <div class="row row-margin-bottom">
            <div class="col-md-8 lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-4">
				<h1>TODAY <br/><small>Task Cards</small></h1>
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                On Schedule
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
				<table>
					<th>Member</th>
					<th>Task</th>
					<th>Started</th>
					<tr>
						<td>Farsheed</td>
						<td>Doing what to do</td>
						<td>1 hour</td>
					</tr>
				</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



 



</div>

    </div>
    <hr/>
</div>
