<div class="container" >


      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Team Reporting&reg;</h3>

    <br/>
        <div class="col-md-2 column">
            <p ng-if="persian" class="farsi">
            گزارشات شما باید کمتر از ۱۰۰۰ حرف و بیشتر از ۲۵ حرف باشند. 
            </p>
            <p ng-if="!persian">
            Your reports must be longer than 25 characters and less than 1000 ones.
            </p>
            <p class="alert">
            <b>{{report.messageCallBack}}</b>
            </p>
		</div>
        <div class="col-md-8 column">

				<div class="form-group">

					<div ng-disabled="report.messageCallBack">
                        <textarea ng-class="{'farsi':persian}" id="report_textarea" type="text" class="form-control" placeholder="{{repotPlaceholder}}" ng-model="report.body"></textarea>
                        <br/>
                        <button ng-if="persian" ng-disabled="!report.body || report.body.length<25 || report.body.length>1000" 
                            type="submit" ng-click="sendReport()" class="pull-right farsi btn btn-primary">گزارش من را بفرست</button>
                        <button ng-if="!persian" ng-disabled="!report.body || report.body.length<25 || report.body.length>1000"
                            type="submit" ng-click="sendReport()" class="btn btn-primary">Send My Report</button>
					</div>
				</div>

		</div>
        <div class="col-md-2 column">
			<div class="btn-group">
                <button
                    ng-click="repotPlaceholder='Write your daily or hourly report here ...';persian=false;"
                    class="btn btn-default langChange" type="button"><em class="glyphicon glyphicon-align-left"></em></button>
                <button class="btn btn-default langChange"
                    ng-click="repotPlaceholder='گزارش روزانه یا ساعتی خود را اینجا بنویسید ...';persian=true;"
                    type="button"><em class=" glyphicon glyphicon-align-right"></em></button>
            </div>
            <br/>
            <br/>
            <a href="#help/reports">Need help?</a>
		</div>
    </div>
    <br/>

<script>

    $(document).ready(function(){
        $('#report_textarea').focus();
    });

    $('.langChange').click(function(){
    
        $('#report_textarea').focus();
    })

</script>
