<div class="container">
    

      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Reports Center&reg;</h3>
      <br/>

      <input ng-class="{'farsi':!$parent.isASCII(reports.rfilter, true)}"
      placeholder="Filter reports by reporter name or content" class="form-control" type="text" ng-model="reports.rfilter" />
    <br/>
    <div>
        <div class="panel panel-success" ng-repeat="report in reports  | filter:reports.rfilter track by $index">
            <div class="panel-heading"> 
                <em class="fa fa-user"></em>
                <a href="#/user/{{report.reporter.id}}"><b>{{report.reporter.firstname}} {{report.reporter.lastname}}</b></a>
            </div>
            <div class="panel-body">
                <div ng-bind-html="marked(report.body)"
                ng-class="{'farsi':!$parent.isASCII(report.body, true)}">
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div >
                <em class="fa fa-clock-o"></em>
                <small>Reported {{$parent.prettyDate(report.datetime)}} ago</small>
                </div>
            </div>
        </div> 



    </div>
</div>
