


<div class="container assetDiv" >
    <br/>
    <div class="row clearfix" ng-cloak>


		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a href="#/pms">Projects</a> <span class="divider"></span>
				</li>
				<li>
                <a href="#/pms/{{asset.repository.project_id}}">{{asset.repository.name}}</a> <span class="divider"></span>
                </li>
                <li >
                <a href="#/ams/c/{{asset.collection.id}}">{{asset.collection.name}}</a> <span class="divider"></span>
				</li>
				<li class="active">
				    {{asset.fullname}}
				</li>
			</ul>
        </div>


		<div class="col-md-12 column">
        </div>
		<div class="col-md-12 column">
                <div class="col-sm-3" ng-if="asset">
					<div class="thumbnail asm_thumb_solo">
                        <div class="col-md-12 asm_upper">
                            <div ng-if="asset.thumbnail"> 
                                <a title="{{asset.fullname}} {{asset.description}}" class="collectionImages" title="{{asset.description}}">
                                <img class="thumbnail" class="asm_col_thumb_img thumbnail"  ng-src="{{'/static/'+asset.thumbnail}}" /></a>
                            </div>
                            <div ng-if="!asset.thumbnail"> 
                                <a title="{{asset.fullname}} {{asset.description}}" class="collectionImages" style="cursor:pointer" title="{{asset.description}}">
                                <img class="thumbnail" class="asm_col_thumb_img thumbnail" ng-src="/app/images/icons/P_Movie.svg.png" />
                                
                                </a>
                            </div>
						</div>
                        <hr/>

                <div class="caption" >
                    <A href="/static/{{asset.url}}">
                        <button id="collectionAddButton" class="btn btn-default btn-sm" type="button">
                            <em class="glyphicon glyphicon-download"></em>
                        </button>
                    </a>
                    <em >{{asset.content_type.split('/')[1].split(';')[0] | uppercase}}</em>
                    <ul>
                        <li style="list-style:none;"><strong>{{asset.name || asset.fullname}}</strong>
                        
                        
                        </li>
                        <li style="list-style:none;"><Small><b>{{$parent.prettyDate(asset.modified_on)}}</b> ago</small></li>
                        <li ng-if="asset.owner" style="list-style:none;"> <a href="#/user/{{asset.owner.id}}" 
                            style="font-size:9pt;color:grey">{{asset.owner.firstname}} {{asset.owner.lastname}}</a></li> 
                        <li ng-if="!asset.owner" style="list-style:none;"> <a style="font-size:9pt;color:grey">Anonymous</a></li> 
                    </ul>
                </div>
            </div>
                <div class="col-md-12" ng-if="asset">
                    <h4>Asset Versions</h4>
                    <button ng-click="checkout(version)" class="btn btn-sm btn-default"
                        ng-class="{'btn-success':asset.version==version.split('v_')[1],
                        'btn-warning':checkout_load==version, 'btn-primary':checkouted==version}"
                        ng-repeat="version in assetVersions | orderBy:name">{{version.split('v_')[1]}}</button>
                    
                <div style="opacity:0.75;">
                    <br/>
                    <button class="btn btn-sm btn-default"></button> <small>Available versions</small> </br>
                    <button class="btn btn-sm btn-primary"></button> <small>Retrived version</small></br>
                    <button class="btn btn-sm btn-warning"></button> <small>Version is loading</small></br>
                    <button class="btn btn-sm btn-danger"></button> <small>Error in version</small></br>
                    <button class="btn btn-sm btn-success"></button> <small>Current version</small></br>
                </div>

                <br/>
                <a>
                    <button ng-click="checkout(checkouted, true)" class="btn btn-primary">Download Version {{checkouted.split('v_')[1]}}</button><a>

                <hr/>

                </div>
            </div>


            <div class="col-md-9" ng-if="asset">
                <h5><a href="/static/{{asset.url}}">{{asset.fullname}}</a> <Small>version {{asset.version}}</small></h5>
            <small style="color:grey">{{asset.fileinfo}}</small>
                <div ng-if="asset.preview && asset.content_type.split('/')[0]=='video'">
                    <video id="video_{{asset.id}}" class="video-js vjs-default-skin thumbnail" controls 
                    preload="metadata" ng-attr-poster="{{'/static/'+asset.poster}}" width="720" height="480" >
                    <source 
                   data-setup='{"techOrder": ["flash", "html5", "links"]}'
                    ng-src="{{'/static/'+asset.preview}}" type="video/mp4" /></video>
                </div>


                <div ng-if="asset.content_type.split('/')[0]=='image' || asset.content_type.split('/')[1]=='pdf'">
                    <img ng-src="{{'/static/'+asset.poster}}" style="margin:auto" class="thumbnail"/>
                </div>
                <hr/>
                <div class="col-md-12" ng-if="asset.thumbnail && assetVersions.length>1">
                    <div class="col-sm-2" ng-repeat="v in range(0, assetVersions.length)">
                        <img class="thumbnail" ng-click="checkout('v_'+v)" ng-class="{'iconized':checkouted=='v_'+v}"
                        style="cursor:pointer;width:130px;opacity:0.75" ng-src="{{'/static/uploads/'+asset.uuid+'_thmb_'+v+'.png'}}" />
                    </div>
                </div>



            </div>





	    </div>
	    </div>
    <hr/>
    <div ng-include="'pages/comment/index.html'"></div>


</div>



<script>
</script>
