

			<div class="modal fade" id="collectionAddModal" role="dialog" ng-init="" aria-labelledby="AddNewSequences" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
                                Add a new item to {{collection.name}}
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputemail3" class="col-sm-4 control-label">new item name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="enter item name here ..." ng-model="newSubCollection.name" />
					</div>
				</div>
			</form>
						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="newSubCollection={}" data-dismiss="modal">Close</button>
                            <button type="button" ng-disabled="!newSubCollection.name"
                                ng-click="createNewSubCollection()" class="btn btn-success">Add item to {{collection.name}}</button>
						</div>
					</div>

				</div>

			</div>















<div class="container collectionDiv">
    <br/>
    <div class="row clearfix" ng-cloak>
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a href="#/pms">Projects</a> <span class="divider"></span>
				</li>
				<li>
                <a href="#/pms/{{collection.project.id}}">{{collection.project.name}}</a> <span class="divider"></span>
                </li>
                <li ng-if="collection.parent.parent.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.parent.parent.id}}">{{collection.parent.parent.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.parent.id}}">{{collection.parent.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.id}}">{{collection.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent">
                <a href="#/ams/c/{{collection.parent.id}}">{{collection.parent.name}}</a> <span class="divider"></span>
				</li>
				<li class="active">
				    {{collection.name}}
				</li>
			</ul>
        </div>

        <div class="col-md-6 column">
            
			<div class="btn-group" ng-show="collection.container">

                <button id="collectionAddButton" class="btn btn-success btn-sm" type="button">
                    <em class="glyphicon glyphicon-plus"></em>
                    <em class="glyphicon glyphicon-folder-open"></em>
                </button>
			</div>
            <h3>{{collection.name | uppercase}}</h3>
                <div class="col-md-4" ng-repeat="subcol in collection.children track by $index">
					<div class="thumbnail asm_thumb">
                        <a href="#ams/c/{{subcol.id}}" title="{{subcol.description}}"
                        ><img class="asm_col_thumb_img" alt="150x100" width="150" ng-src="/static/{{collection.repository.name}}/{{subcol.path}}/thumb.png" /></a>
						<div class="caption">
                            <h5><a href="#ams/c/{{subcol.id}}" style="color:#333">{{subcol.name}}</a></h5>
							<p>
							</p>
						</div>
					</div>
                </div>
		</div>

        <div class="col-md-6 column" ng-show="collection.holdAssets">
            <form id="my-awesome-dropzone" style="min-height: 130px;" class="dropzone">
            
            </form>
        </div>
		</div>

	<div class="row clearfix">
        <div ng-class="col-md-12">
            <div ng-if="collection.holdAssets">
            <hr/>
            <h3 ng-show="collection.assets.length>0">Assets <small>({{collection.assets.length}})</small></h3>
            <div class="row" id="ams_assets" ng-show="collection.assets.length>0">
			<form class="form-horizontal" role="form" style="background:#ddd">
				<div class="form-group">
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Search for {{collection.name}} Assets here" ng-model="collection.CollectionAssetFilter" />
					</div>
				</div>
			</form>
            <br/>
                <div class="col-sm-2" ng-repeat="asset in collection.assets | orderBy:'content_type'| orderBy:'datetime':reverse | filter:collection.CollectionAssetFilter track by $index">
					<div class="thumbnail asm_thumb">
                        <div class="col-md-12" style="height:130px;">
                            <div ng-if="isImage(asset)"> 
                                <a title="{{asset.name}} {{asset.description}}" href="/static/{{asset.url}}" class="collectionImages" style="cursor:pointer" title="{{asset.description}}" data-gallery="collectionLinks">
                                <img class="thumbnail" ng-if="!asset.thumbnail" class="asm_col_thumb_img thumbnail"  ng-src="/static/{{asset.url}}" />
                                <img class="thumbnail" ng-if="asset.thumbnail" class="asm_col_thumb_img thumbnail"  ng-src="{{asset.thumbnail}}" /></a>
                            </div>
                            <div ng-if="!isImage(asset) && !isVideo(asset)"> 
                                <a title="{{asset.name}} {{asset.description}}" href="/static/{{asset.url}}" class="collectionImages" style="cursor:pointer" title="{{asset.description}}">
                                <img class="thumbnail" ng-if="!asset.thumbnail" class="asm_col_thumb_img thumbnail" ng-src="/app/images/icons/P_Movie.svg.png" />
                                <img class="thumbnail" ng-if="asset.thumbnail" class="asm_col_thumb_img thumbnail" ng-src="{{asset.thumbnail}}" />
                                
                                </a>
                            </div>
                            <div ng-if="isVideo(asset)" >
                                <a  title="{{asset.name}} {{asset.description}}"  sources="{{['/static/'+asset.url]}}" type="{{asset.content_type}}" href="/static/{{asset.url}}" data-gallery="collectionLinks">
                                    <video id="video_{{asset.id}}" class="video-js vjs-default-skin asm_col_thumb_img thumbnail" preload="none" width="100" poster="{{asset.thumbnail}}"
                                  data-setup="{}">
                                  <source ng-src="{{'/static/'+asset.url}}" type='{{asset.content_type}}' /></video></a>
                            </div>
						</div>



                        <div class="caption" >
                    <A href="/static/{{asset.url}}">
                        <button id="collectionAddButton" class="btn btn-default btn-sm" type="button">
                            <em class="glyphicon glyphicon-download"></em>
                        </button>
                    </a>
                    <label style="color:grey">{{asset.content_type.split('/')[1].split(';')[0] | uppercase}}</label><br/>
                    <a title="{{asset.fullname}}" href="#ams/a/{{asset.id}}" style="color:#333"><small>{{asset.name}}</small></a> 
                    </div>

                </div>                
            </div>
                
                
			</div>
		</div>
    </div>

	</div>
    <hr/>
    <div ng-include="'pages/comment/index.html'"></div>


</div>



<script>
    $(document).ready(function(){
        $('#collectionAddButton').click(function(){
            $('#collectionAddModal').modal('show');
        });
    });
</script>
