

			<div class="modal fade" id="collectionAddModal" role="dialog" ng-init="" aria-labelledby="AddNewSequences" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
                                Add a new item to {{collection.name}}
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">New Item Name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Enter item name here ..." ng-model="newSubCollection.name" />
					</div>
				</div>
			</form>
						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="newSubCollection={}" data-dismiss="modal">Close</button>
                            <button type="button" ng-disabled="!newSubCollection.name"
                                ng-click="createNewSubCollection()" class="btn btn-success">Add item to {{collection.name}}</button>
						</div>
					</div>

				</div>

			</div>















<div class="container collectionDiv" ng-init="getCollectionDetails()">
    <br/>
    <div class="row clearfix" ng-cloak>
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a href="#/pms">Projects</a> <span class="divider"></span>
				</li>
				<li>
                <a href="#/pms/{{collection.project.id}}">{{collection.project.name}}</a> <span class="divider"></span>
                </li>
                <li ng-if="collection.parent.parent.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.parent.parent.id}}">{{collection.parent.parent.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.parent.id}}">{{collection.parent.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.id}}">{{collection.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent">
                <a href="#/ams/c/{{collection.parent.id}}">{{collection.parent.name}}</a> <span class="divider"></span>
				</li>
				<li class="active">
				    {{collection.name}}
				</li>
			</ul>
        </div>

            
			<div class="btn-group" ng-show="collection.container">

                <button id="collectionAddButton" class="btn btn-success btn-sm" type="button">
                    <em class="glyphicon glyphicon-plus"></em>
                    <em class="glyphicon glyphicon-folder-open"></em>

                </button>
			</div>

        <h3>{{collection.name | uppercase}}</h3>
    </div>


	<div class="row clearfix">
        <div ng-class="{'column':true, 'col-md-7':collection.holdAssets, 'col-md-12':!collection.holdAssets}">
			<div class="row">
                <!----------------------------------------------------------------------------!>
                <!----------------------------------------------------------------------------!>
                <div ng-class="{'col-md-3':collection.holdAssets, 'col-md-2':!collection.holdAssets}" ng-repeat="subcol in collection.children track by $index">
					<div class="thumbnail asm_thumb">
                        <a href="#ams/c/{{subcol.id}}" title="{{subcol.description}}"
                        ><img class="asm_col_thumb_img" alt="150x100" width="150" ng-src="/static/{{collection.repository.name}}/{{subcol.path}}/thumb.png" /></a>
						<div class="caption">
                            <h5><a href="#ams/c/{{subcol.id}}" style="color:#333">{{subcol.name}}</a></h5>
							<p>
							</p>
						</div>
					</div>
                </div>
                <!----------------------------------------------------------------------------!>
                <!----------------------------------------------------------------------------!>
                <!----------------------------------------------------------------------------!>
			</div>
            <hr/>
            <h3>Assets <small>({{collection.assets.length}})</small></h3>
			<div class="row" id="ams_assets">
                <div class="col-md-3" ng-repeat="asset in collection.assets track by $index">
					<div class="thumbnail asm_thumb">
                        <a href="/static/{{asset.url}}" title="{{asset.description}}"
                            ><img 
                            ng-if="asset.content_type=='image'"
                            class="asm_col_thumb_img" alt="150x100" width="150" ng-src="/static/{{asset.url}}" /></a>
						<div class="caption">
                            <a ng-if="asset.content_type!='image'" href="/static/{{asset.url}}"><button><em class="glyphicon glyphicon-download-alt"></em></button></a>
                           
                            <h5><a title="{{asset.fullname}}" href="#ams/a/{{asset.id}}" style="color:#333">{{asset.name}}</a></h5>
							<p>
							</p>
						</div>
                </div>                
            </div>
                
                
			</div>
		</div>

        <div class="col-md-5 column" style="padding: 19px;" ng-show="collection.holdAssets">
            <form id="my-awesome-dropzone" action="/target" class="dropzone">
            
            </form>
        </div>
	</div>





</div>



<script>
    $(document).ready(function(){
        $('#collectionAddButton').click(function(){
            $('#collectionAddModal').modal('show');
        });



    });
</script>
