

			<div class="modal fade" id="collectionAddModal" role="dialog" ng-init="" aria-labelledby="AddNewSequences" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
                                Add a new item to {{collection.name}}
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputemail3" class="col-sm-4 control-label">new item name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="enter item name here ..." ng-model="newSubCollection.name" />
					</div>
				</div>
			</form>
						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="newSubCollection={}" data-dismiss="modal">Close</button>
                            <button type="button" ng-disabled="!newSubCollection.name"
                                ng-click="createNewSubCollection()" class="btn btn-success">Add item to {{collection.name}}</button>
						</div>
					</div>

				</div>

			</div>















<div class="container collectionDiv">
		<div class="col-md-12 column">
			<ul class="breadcrumb" style="min-height: 45px">
				<li>
					<a href="#/pms">Projects</a> <span class="divider"></span>
				</li>
				<li>
                <a href="#/pms/{{collection.project.id}}">{{collection.project.name}}</a> <span class="divider"></span>
                </li>
                <li ng-if="collection.parent.parent.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.parent.parent.id}}?page=1">{{collection.parent.parent.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.parent.id}}?page=1">{{collection.parent.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent.parent">
                <a href="#/ams/c/{{collection.parent.parent.id}}?page=1">{{collection.parent.parent.name}}</a> <span class="divider"></span>
				</li>
                <li ng-if="collection.parent">
                <a href="#/ams/c/{{collection.parent.id}}?page=1">{{collection.parent.name}}</a> <span class="divider"></span>
				</li>
				<li class="active">
				    {{collection.name}}
                    </li>

                    <span class="pull-right">
                        <button id="collectionAddButton" class="btn btn-default btn-sm" ng-click="deleteCollection()" type="button"> 
                            <em class="glyphicon glyphicon-trash"></em>
                        </button>
                    </span>

			</ul>

        <div class="col-md-6 column">
			<div class="btn-group" ng-show="collection.container">
                <button id="collectionAddButton" class="btn btn-success btn-sm" type="button">
                    <em class="glyphicon glyphicon-plus"></em>
                    <em class="glyphicon glyphicon-folder-open"></em>
                </button>
			</div>
            <h3>{{collection.name | uppercase}}</h3>
                <div class="col-md-4" ng-repeat="subcol in collection.children track by $index">
					<div class="thumbnail asm_thumb">
                        <a href="#ams/c/{{subcol.id}}?page=1" title="{{subcol.description}}"
                        ><img class="asm_col_thumb_img" alt="150x100" width="150" ng-src="/static/{{collection.repository.name}}/{{subcol.path}}/thumb.png" /></a>
						<div class="caption">
                            <h5><a href="#ams/c/{{subcol.id}}?page=1" style="color:#333">{{subcol.name}}</a></h5>
							<p>
							</p>
						</div>
					</div>
                </div>
		</div>
        <div class="col-md-6 column" ng-show="collection.holdAssets">
            <form id="my-awesome-dropzone" style="min-height: 130px;" class="dropzone">
            </form>
        </div>

        <div class="col-md-12" ng-show="collection.assets.length>0">
            <div ng-if="collection.holdAssets">
            <hr/>
            <h3 ng-show="collection.assets.length>0">Assets <small>({{(collection.page-1)*10+1}}-{{ (collection.page-1)*10+collection.assets.length}} of {{collection.assets_count}})</small></h3>
				<div class="form-group">
					<div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Search for {{collection.name}} Assets here" ng-model="collection.CollectionAssetFilter" />
                    </div>
                            <div class="form-group hidden-sm hidden-xs col-md-4">
                            <label class="checkbox-inline" ng-init="initToggle();">
                                <input id="toggle-thmb" type="checkbox" ng-checked="thumbnails" ng-click="toggleThumbnail()" data-toggle="toggle"> Thumbnails
                            </label>
                            </div>

                        <div class="col-md-2 btn-group btn-group" ng-show="">
                            <button type="button" class="btn btn-default btn-sm" ng-class="{disabled: collection.page == 1}" 
                                ng-click="getCollectionDetails(collection.page-2)">
                                <em class="glyphicon glyphicon-chevron-left"></em>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-class="{disabled: collection.page >= collection.assets_count/10}" 
                                ng-click="getCollectionDetails(collection.page)">
                                <em class="glyphicon glyphicon-chevron-right"></em>
                            </button>
                        </div>
                </div>
                <br/>
                <br/>
                <table class="table table-striped table-hover refresh-container pull-down" >
                        <thead class="hidden-xs">
                            <td class="col-md-1"><a href="javascript:;"><strong>ID</strong></a></td>
                            <td ng-if="thumbnails" class="col-md-2"><a href="javascript:;"><strong></strong></a></td>
                            <td ng-class="{'col-md-5':thumbnails, 'col-md-7':!thumbnails}"><a href="javascript:;"><strong>Name</strong></a></td>
                            <td class="col-md-2"><a href="javascript:;"><strong>Date</strong></a></td>
                            <td class="col-md-2"><a href="javascript:;"><strong>Owner</strong></a></td>
                        </tr></thead>

                        <tbody>
                            <tr ng-repeat="asset in collection.assets | filter:collection.CollectionAssetFilter track by $index">
                                <td class="hidden-xs" style="vertical-align: middle;" >{{asset.id}}</td>
                                <td ng-if="thumbnails && !asset.thumbnail" class="hidden-xs"  style="vertical-align: middle;"></td>
                                <td ng-if="thumbnails && asset.thumbnail" class="hidden-xs"  style="vertical-align: middle;">
                                    <a href="/static/{{asset.poster}}" data-gallery="collectionLinks"><img class="thumbnail" ng-src="/static/{{asset.thumbnail}}" /></a></td>
                                <td  style="vertical-align: middle;"><a href="#/ams/a/{{asset.id}}">{{asset.fullname}}</strong></a></td>
                                <td  style="vertical-align: middle;">{{$parent.prettyDate(asset.datetime)}} ago</td>
                                <td  style="vertical-align: middle;" class="hidden-xs" >{{asset.owner.name}}</td>
                            </tr>
                        </tbody>
                    <table>
    <hr ng-show="collection.assets.length>0"/>
    </div>




	</div>
    <div ng-include="'pages/comment/index.html'"></div>


</div>



<script>
    $(document).ready(function(){
        $('#collectionAddButton').click(function(){
            $('#collectionAddModal').modal('show');
        });
 
    });
</script>
