<div class="container" ng-cloak>

      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Assets&reg;</h3>



    <div class="col-md-12">
        <aside class="col-md-3">
        <h4><em class="fa fa-tag"></em>Tags</h4>
        <ul class="nav nav-pills nav-stacked hidden-print">
            <li class="hidden-sm hidden-xs" style="cursor:pointer" ng-repeat="tag in assetTags | orderBy:'name'"
            ng-click="tagSelection(tag)"
            ng-class={'active':tag.selected}>
                <a style="font-size:10pt;padding:3px"  
                    ng-click="btn-sm" >
                    <span class="fa fa-tag"> {{tag.name}}</span>
                </a>  
                  </li>
            </ul>

        
        </aside>
        <div class="col-md-9">
            <div id="from-group">
                <input type="search" id="assetsSearchInput" class="typeahead form-control" 
                options="assetOptions" datasets="completeData" placeholder="Search for your assets ..."
                ng-model="assetOptions.userAssetsFilter" ng-change="search()" autofocus sf-typeahead>
                <div class="btn-group btn-group" ng-show="assetsCount>50">
                <button type="button" class="btn btn-default btn-sm" ng-class="{disabled: page == 1}" 
                    ng-click="gotoPage(page-1)">
                    <em class="glyphicon glyphicon-chevron-left"></em>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-class="{disabled: page >= assetsCount/50}" 
                    ng-click="gotoPage(page+1)">
                    <em class="glyphicon glyphicon-chevron-right"></em>
                </button>
            </div>
            </div>
            <br/>
        <div ng-if="tagMode && userAssets.length" class="alert alert-info alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" 
              aria-hidden="true">
              &times;
           </button>
           Showing results for: <Strong>{{selectedTags}}</strong>
        </div>

        <div ng-if="!userAssets.length" class="alert alert-warning alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" 
              aria-hidden="true">
              &times;
           </button>
           <span>Can not find any assets</span> <span ng-if="tagMode">
               for <strong> {{selectedTags}}</strong> tag<span ng-if="selectedTags.split(',').length>1">s</span></span>
        </div>

   
   <div ng-if="userAssets.length" class="panel panel-default" id="" style="min-height: 300px;">
            <table class="table table-striped table-hover refresh-container pull-down" 
                ng-show="userAssets.length">
                <thead class="hidden-xs">
                    <td ><a style="cursor:pointer" ng-click="orderMode='id';getUserAssets('id', 1)"><strong>ID</strong></a></td>
                    <td ><a style="cursor:pointer" ng-click="orderMode='fullname';getUserAssets('fullname', 1)"><strong>Name</strong></a></td>
                    <td ><a style="cursor:pointer" ng-click="orderMode='created_on';getUserAssets('created_on', 1)"><strong>Date</strong></a></td>
                    <td ><a style="cursor:pointer" ng-click="orderMode='content_size';getUserAssets('content_size', 1)"><strong>Size</strong></a></td>
                    <td class="hidden-sm hidden-xs"><a style="cursor:pointer" ng-click="orderMode='owner_id';getUserAssets('owner_id', 1)"><strong>Collection</strong></a></td>
                </thead>
                <tbody>

                    <tr ng-repeat="asset in userAssets | filter:assetOptions.userAssetsFilter.fullname track by $index">
                            <td class="hidden-xs">{{asset.id}}</td>
                            <td><a href="#/ams/a/{{asset.id}}">{{asset.fullname.slice(0, 48)}}</a></td>
                            <td class="hidden-xs">{{$parent.prettyDate(asset.created_on)}} ago</td>
                            <td >{{$parent.getReadableFileSizeString(asset.content_size)}}</td>
                            <td class="hidden-sm hidden-xs"><a href="#ams/c/{{asset.collection_id}}">{{asset.collection_id}}</a></td>
                    </tr>
                    
                </tbody>

            </table>
        </div>
        </div>


</div>  <!-- End of main md-12 --!>
</div>  <!-- End of container --!>



