    <div class="jumbotron">
      <div ng-cloak class="container">
          <h1>Welcome</h1>
          <p>{{message}}</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="#about">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Administration</h2>
          <p></p>
          <p><a class="btn btn-default" href="#administration" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Project Management</h2>
          <p></p>
          <p><a class="btn btn-default" href="#pms" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Asset Management</h2>
          <p></p>
          <p><a class="btn btn-default" href="#ams" role="button">View details &raquo;</a></p>
        </div>
      </div>
