[program:fa-team-api]
command={dir}/pyenv/bin/uwsgi --emperor config/uwsgi
autostart=true
directory={dir}
stopsignal=TERM
stdout_logfile={dir}/logs/uwsgi_access.log
stderr_logfile={dir}/logs/uwsgi_error.log
