[program:fearless-api]
command={dir}/pyenv/bin/uwsgi --emperor config/uwsgi
autostart=true
directory={dir}
stopsignal=TERM
user=farsheed
stdout_logfile={dir}/logs/uwsgi_access.log
stderr_logfile={dir}/logs/uwsgi_error.log


[program:fearless-celery]
command={dir}/pyenv/bin/celery -A tasks worker -P eventlet -c 10 -l info
autostart=true
directory={dir}/src/api
stopsignal=TERM
user=farsheed
stdout_logfile={dir}/logs/celery.log
stderr_logfile={dir}/logs/celery_error.log
