  <div class="container" >
      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Grid&reg;</h3>

    <hr/>
 
    <div class="row clearfix">
      <div class="col-lg-3 col-sm-4 col-6" style="" ng-repeat="result in results track by $index">
		<a target="_new" href="#/ams/a/{{result.id}}?version={{result.version}}" title="{{result.fullname}}"
		style="height:200px;background-size:cover;;background-image:url(/static/uploads/{{result.uuid}}_poster_{{result.version}}.png)" class="thumbnail img-responsive"></a>

</div>

    </div>
    <hr/>
</div>
