  <div class="container" >

	<span class="text-default pull-left" align="center"><h3><code>#{{tag}}</code></h3></span>
	<div class="pull-left">
		<ul class="pagination">
		  <li ng-show="page!=1"><a href="#/grid/{{tag}}/{{page-1}}">{{page-1}}</a></li>
		  <li class="active"><a ng-show="results.length">{{page}}</a></li>
		  <li ng-show="results.length"><a href="#/grid/{{tag}}/{{page+1}}">{{page + 1}}</a></li>
		</ul>	
	</div>


	<h3 class="text-info pull-right badge" align="center">{{results.length}} Assets</h3>
      <h3 align="center"><small style="margin-top: -13px; position: absolute;">Fearless</small>Grid&reg;</h3>


	<div class="">
	<span ng-repeat="t in results.tags"><a href="#/grid/{{t}}/1">#{{t}}</a> </span>
	</div>




    <hr/>
 
    <div class="row clearfix">
      <h1 align="center" ng-show="is_loading==true"><i class="fa fa-circle-o-notch fa-spin"></i></h1>
      <div class="col-lg-2 col-sm-3 col-4" style="padding:1px;" ng-repeat="result in results track by $index">
		<a target="_new" href="#/ams/a/{{result.id}}?version={{result.version}}" title="{{result.fullname}}"
		style="padding:0px;padding-bottom:10px; height:150px;background-size:cover;;background-image:url(/static/uploads/{{result.uuid}}_thmb_{{result.version}}.png)" class="thumbnail img-responsive">
		<div style="background-color:rgba(0,0,0,0.25)">
		<span class="badge badge-default">{{$parent.prettyDate(result.modified_on)}} <small>ago</small></span>
		</div>
</a>
</div>


    </div>

	<div ng-show="results.length" class="">
		<ul class="pagination">
		  <li ng-show="page!=1"><a href="#/grid/{{tag}}/{{page-1}}">{{page-1}}</a></li>
		  <li class="active"><a ng-show="results.length">{{page}}</a></li>
		  <li ng-show="results.length"><a href="#/grid/{{tag}}/{{page+1}}">{{page + 1}}</a></li>
		</ul>	
	</div>



    <hr/>
</div>
