<style>

    #printable { display: none; }

    @media print
    {
    	#non-printable { display: none; }
    	#printable { display: block; }
    }


table {
    border-collapse: 0px;
    border-spacing: 0;
}
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

.tj_table_frame {
    line-height: 1;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    text-align: center;
    background-color: rgba(56, 129, 192, 0.28);
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    /* box-shadow: 1px 1px 17px #000D1A; */
    /* border: 1px solid #A8A8A8; */
    border-radius: 5px;
    padding: 3px;
    display:none;
    border-spacing: 0px;
    /* text-rendering: geometricPrecision; */
    /* text-shadow: 1px 1px 3px #ccc; */
    text-color: #fff;
}
.taskbarframe {
    background-color: #000000;
    position: absolute;
    box-shadow: 0px 0px 28px #8FB4C7;
}

.offduty {
    background-color: rgba(214, 235, 246, 1);
    white-space: nowrap;
    position: absolute;
}
.taskbar {
    background-color: #36B0D5;
    position: absolute;
}
.tabhead {
    white-space: nowrap;
    background-color: #57BEDD;
    color: #FFFFFF;
    text-align: center;
}
.progressbar {
    background-color: #00A942;
    position: absolute;
}
.tj_table_header_cell {
    padding: 1px 5px 1px 3px;
    white-space: nowrap;
    border-spacing: 0px;
    color: #000000;
    overflow: hidden;
}
.free {
background-color: #D7FFA5;
position: absolute;
}

.tj_table {
background-color: rgba(87, 190, 221, 1);
margin: 0px;
border-spacing: 1px;
}
.busy {
    background-color: #C399FF;
    position: absolute;
}
.caltask1 {
background-color: #FFEDA5;
}

.pmsmaindiv{
    -webkit-font-smoothing: antialiased;
}
.resourcecell1 {
    background-color: #DFF0D8;
    white-space: nowrap;
    padding: 0px;
}

.resourcecell2 {
    background-color: #DFF0D8;
    white-space: nowrap;
    padding: 0px;
}
.taskcell1 {
    background-color: #FFFFFF;
    white-space: nowrap;
    padding: 0px;
    }
.taskcell2 {
    background-color: #f8f8f8;
    white-space: nowrap;
    padding: 0px;
}
.tj_table_cell_label{
    color:#333;
    text-shadow: 0px 1px 1px #FFF;
    font-family:arial;
}
.tabhead .tj_table_cell_label{
    color:white;
}


/*
.taskcell1{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;
}

.taskcell2{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;
}
.resourcecell1{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;

}
.resourcecell2{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;
}
.tabcell{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;
}
*/
</style>

<div class="container pmsmaindiv">

	<div ng-cloak>
			<ul class="breadcrumb">
				<li>
					<a href="#/pms">Projects</a> <span class="divider"></span>
				</li>
				<li class="active">
				    {{project.name}}
				</li>
			</ul>
    </div>



			<div class="modal fade" id="projectEditModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
                                Edit project: {{project.name}}
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Project Name</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" ng-class="{'farsi':!$parent.isASCII(project.name)}"  placeholder="New project name. Must be unique" 
                        ng-model="project.name" />
					</div>
				</div>
				<div class="form-group" ng-init="newProject.start=timeConverter()">
					 <label for="inputEmail3" class="col-sm-4 control-label">Start Date</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" ng-model="project.start" required/>
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">End Date</label>
					<div class="col-sm-6">
						<input type="date" class="form-control" ng-model="project.end" required />
					</div>
				</div>

				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Leader</label>
					<div class="col-sm-6">
                        <select class="form-control" ng-model="project.leader" placeholder="Who's running the project?" 
                            ng-options="resource.fullname for resource in resources track by resource.id">
                        </select>
                </div>
                </div>

				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Watchers</label>
					<div class="col-sm-6">
                        <select class="form-control" ng-model="project.watchers" multiple 
                            ng-options="resource.fullname for resource in resources track by resource.id">
                            <option value="0"></option>
                        </select>
                </div>

            </div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Description</label>
					<div class="col-sm-6">
                        <textarea placeholder="Write a brief description about project goal here ..." class="form-control" ng-model="project.description" ></textarea>
					</div>
				</div>

			</form>
						</div>
						<div class="modal-footer">
                            <button type="button" ng-click="getProjectDetails()" class="btn btn-default" data-dismiss="modal">Close</button> 
                            <button type="button" ng-show="project.name && project.start && project.end && project.leader.id" 
                                ng-click="updateProject()" class="btn btn-primary">Update project information</button>
						</div>
					</div>
					
				</div>
				
	</div>











			<div class="modal fade" id="taskSeqModal" role="dialog" ng-init="" aria-labelledby="AddNewSequences" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Append new sequences
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Number of new sequences</label>
					<div class="col-sm-6">
                        <input type="number" class="form-control" placeholder="Enter number of new sequences" ng-model="newSequences.number" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Sequence Lead</label>
					<div class="col-sm-6">
                        <select class="form-control" ng-model="newSequences.lead" 
                            ng-options="resource.fullname for resource in resources track by resource.id">
                        </select>
                     </div>
                 </div>

			</form>
						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="resetNewSequnences()" data-dismiss="modal">Close</button>
                            <button type="button" ng-disabled="!newSequences.number || newSequences.number<1 || !newSequences.lead"
                                ng-click="createNewSeq()" class="btn btn-success">Create new Sequences</button>
						</div>
					</div>

				</div>

			</div>







			<div class="modal fade" id="taskAddModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Create a new task
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Task title</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" ng-class="{'farsi':!$parent.isASCII(newtask.title)}"  placeholder="New task name" ng-model="newtask.title" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Make task a milestone</label>
					<div class="col-sm-6">
                        <input type="checkbox" class="form-control" placeholder="New task name" ng-model="newtask.isMilestone" />
					</div>
				</div>
				<div class="form-group" ng-show="!newtask.isMilestone" >
					 <label for="inputEmail3" class="col-sm-4 control-label">Start</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="Task start date" ng-model="newtask.start" />
					</div>
				</div>
				<div class="form-group" ng-show="newtask.isMilestone">
					 <label for="inputEmail3" class="col-sm-4 control-label">Delivery</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="Task End date" ng-model="newtask.end" />
					</div>
				</div>
				<div class="form-group" ng-show="!newtask.isMilestone">
					 <label for="inputEmail3" class="col-sm-4 control-label">Effort</label>
					<div class="col-sm-6">
                        <input type="number" min="0" max="96" class="form-control" placeholder="How many hours?" ng-model="newtask.effort" required/>
					</div>
				</div>

				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Task Manager</label>
					<div class="col-sm-6">
                        <select class="form-control" ng-model="newtask.manager" 
                            ng-options="resource.fullname for resource in resources track by resource.id">
                        </select>
                     </div>
                 </div>



				<div class="form-group" ng-show="!newtask.isMilestone">
					 <label for="inputPassword3" class="col-sm-4 control-label">Resources</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Type person name here" ng-model="newtask.filterResources" />
                        <select class="form-control" ng-model="newtask.resources" multiple 
                            ng-options="resource.fullname for resource in resources | filter:newtask.filterResources track by resource.id">
                        </select>
                     </div>
                </div>

				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Task Priority</label>
					<div class="col-sm-6">
                        <input type="number" min="1" max="1000" class="form-control" placeholder="How many hours?" ng-init="newTaskEffort=0" ng-model="newtask.priority" required/>
					</div>
				</div>



				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Depends On</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Type task name here" ng-model="newtask.dependencyFilter" />
                        <select class="form-control" ng-model="newtask.depends" multiple 
                            ng-options="task.title for task in tasks | filter:newtask.dependencyFilter track by task.id">
                        </select>
                     </div>
                </div>

			</form>


						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="resetNewtask()" data-dismiss="modal">Close</button>
                            <button type="button" ng-disabled="!newtask.title || !newtask.manager || (newtask.effort && !newtask.resources)"
                                ng-click="createNewTask()" class="btn btn-success">Create new task</button>
						</div>
					</div>

				</div>

			</div>







			<div class="modal fade" id="taskDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
								Task edit area
                                <a target="_new" href="#/pms/t/{{editTaskInfo.id}}"><button type="button" 
                                    class="btn btn-default btn-sm pull-right">Go to Task Page</button></a>
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Task title</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" ng-class="{'farsi':!$parent.isASCII(editTaskInfo.title)}"  placeholder="Task name" 
                        ng-model="editTaskInfo.title" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Start</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="Task start date" ng-model="editTaskInfo.start"/>
					</div>
				</div>
				<div class="form-group" ng-show="editTaskInfo.effort==0">
					 <label for="inputEmail3"  class="col-sm-4 control-label">end</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="Task end date" ng-model="editTaskInfo.end" />
					</div>
                </div>

				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Effort</label>
					<div class="col-sm-6">
                        <input type="number" min="0" max="96" class="form-control" placeholder="Task effort" ng-model="editTaskInfo.effort" />
					</div>
                </div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Priority</label>
					<div class="col-sm-6">
                        <input type="number" min="1" max="1000" class="form-control" placeholder="Task effort" ng-model="editTaskInfo.priority" />
					</div>
                </div>

				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Resources</label>
					<div class="col-sm-6">

                        <input type="text" class="form-control" placeholder="Type person name here" ng-model="editTaskInfo.resourceFilter" />
                        <select class="form-control" ng-model="editTaskInfo.resources" multiple 
                            ng-options="resource.fullname for resource in resources  | filter:editTaskInfo.resourceFilter track by resource.id">
                        </select>
                     </div>
                </div>
				<div class="form-group" ng-if="can_depend">
					 <label for="inputPassword3" class="col-sm-4 control-label">Depends On</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Type task name here" ng-model="editTaskInfo.dependencyFilter" />
                        <select class="form-control" ng-model="editTaskInfo.depends" multiple 
                            ng-options="task.title for task in can_depend | filter:editTaskInfo.dependencyFilter track by task.id">
                        </select>
                     </div>
                </div>

            	<div ng-show="editTaskInfo.effort" class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Complete</label>
					<div class="col-sm-6">
                        <div class="input-group-addon">{{editTaskInfo.complete}}</div>
                        <input type="range" class="form-control" min="0" max="100" placeholder="Task effort" ng-model="editTaskInfo.complete" />
					</div>
                </div>


			</form>


						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" ng-click="deleteTask(editTaskInfo.id)" class="btn btn-danger" >Delete Task</button>
                            <button type="button" ng-show="editTaskInfo.resources || editTaskInfo.effort==0"
                                ng-click="updateTask(editTaskInfo.id)" class="btn btn-primary">Update task</button>
						</div>
					</div>

				</div>

			</div>








<div class="col-md-12 column">
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-size:48pt;">
            {{project.name | uppercase}}
        <button id="editProjectButton" ng-click="updateProjectModalPrepare()" class="btn btn-default btn-sm" type="button"><em class="glyphicon glyphicon-pencil"></em> Edit</button>
        </h3>
    </div>

     <div class="panel-body" style="background: #FAFAFA;">
         <div class="col-md-4" id="projectDescription">
             <div class="col-md-12">
            <p>
            <em>{{project.description || 'Project has no description'}}</em>
            </p>
            </div>
            <div class="col-md-12" style="border-top: 1px solid #F0F0F0;" ng-show="tasks.length>0">
            <h3 style="color:grey"><em class="glyphicon glyphicon-signal"></em> Progress</h3>
                <div id="progress_chart_div"></div>		
            </div>

		</div>
		<div class="col-md-8" style="border-left: 1px solid #ECECEC;">
            <br/>
            <table class="table table-bordered table-responsive">
            <tr class="active">
                <td >Name</td>
                <td >Progress</td>
                <td >Start</td>
                <td >End</td>
                <td >Effort Left</td>
                <td >Project Leader</td>
            </tr>
            <tr class="success">
                <td class="active"><strong>{{project.name}}</strong></td>
                <td ><strong>{{project.complete}}</strong>%</td>
                <td class="farsi" >{{$parent.persianDate(project.start)}}</td>
                <td class="farsi" >{{$parent.persianDate(project.end)}}</td>
                <td >{{project.effort_left}}</td>
                <td ><a href="#/user/{{project.leader.id}}">{{project.leader.fullname}}</a></td>
            </tr>
        </table>

        <div class="col-md-12" ng-show="tasks.length>0">
            <h3 style="color:grey"><em class="glyphicon glyphicon-stats"></em> Timeline</h3>
            <div id="burndown_chart_div" style="height: 300px;background: #F5F5F5; border: 1px solid #ccc; border-radius: 5px;"></div>
		</div>
		</div>


    </div>
				<div class="panel-footer">
                    <div ng-if="project.watchers.length>0">
            This project is under supervision of 
            <span ng-repeat="watcher in project.watchers track by $index">
                <a href="#user/{{watcher.id}}">{{watcher.firstname}} {{watcher.lastname}}</a>
                <em ng-show="$index+2 != project.watchers.length && $index+1 != project.watchers.length">,</em>
                <em ng-show="$index+2 == project.watchers.length">and</em>
            </span>
            </div>
            </div>

    </div>
<hr/>
    </div>



<div class="col-md-12 column">
<div class="panel panel-default ">
    <div class="panel-heading">
        <h3 class="panel-title">
            Assets
                            <button id="taskSeqButton" class="btn btn-default btn-sm" type="button"><em class="glyphicon glyphicon-plus"></em> Add SEQUENCES</button>
        </h3>
    </div>

     <div class="panel-body" style="background: #F9F5FF;">
        <div class="col-md-12 column">
                <div class="col-md-2 column" style="border-right: 1px solid #ccc;">
                     <h3 style="color:grey">Collections</h3>
                        <div id="CollectionsDiv" >
                            <a class="projectCollectionsA" href="#/ams/c/{{collection.id}}?page=1" ng-repeat="collection in project.collections track by $index" 
                                title="{{collection.name}}">{{collection.name}}</a>
                        </div>
                </div>
                <div class="col-md-6 column" style="border-right: 1px solid #ccc;">
                    <h3 style="color:grey">Sequences</h3>
                    <a class="projectSeqA" href="#pms/{{project.id}}/seq/{{seq.number}}" ng-repeat="seq in project.sequences track by $index" title="{{req.code}}">{{seq.number}}</a>
                    </div>
        </div>
</div>
</div>
<hr/>
</div>



<div class="col-md-12 column">
<div class="panel panel-info">
    <div class="panel-heading">
			<div class="btn-group">
                <button id="taskAddButton" class="btn btn-info" type="button"><em class="glyphicon glyphicon-plus"></em> Add TASK</button>
                <button ng-show="tasks.length>0" class="btn btn-info" ng-class="{'active':mode=='cal', 'btn-success':mode=='cal'}" 
                        ng-class="{'active':mode=='cal'}" ng-click="showCal();prepareCal();" type="button"><em class="glyphicon glyphicon-calendar"></em> Calendar</button>
                <button ng-show="tasks.length>0" class="btn btn-info" ng-class="{'active':mode=='plan', 'btn-success':mode=='plan'}" 
                        ng-class="{'active':mode=='plan'}" ng-click="generateReport('plan')" type="button"><em class="glyphicon glyphicon-eye-open"></em> Plan</button>
                <button ng-show="tasks.length>0" class="btn btn-info" ng-class="{'active':mode=='guntt', 'btn-success':mode=='guntt'}" 
                        ng-click="generateReport('guntt')" type="button"><em class="glyphicon glyphicon-tasks"></em> Gantt</button>
                <button ng-show="tasks.length>0" class="btn btn-info" ng-class="{'active':mode=='resource', 'btn-success':mode=='resource'}"
                        ng-click="generateReport('resource')" type="button"><em class="glyphicon glyphicon-list-alt"></em> Resources</button>
                <button ng-show="tasks.length>0" class="btn btn-info" ng-class="{'active':mode=='profit', 'btn-success':mode=='profit'}" 
                        ng-click="generateReport('profit')" type="button"><em class="glyphicon glyphicon-adjust"></em> Budget</button>
                <button  ng-show="tasks.length>0" class="btn btn-info" ng-click="print()" type="button"><em class="glyphicon glyphicon-print"></em> </button>
                <button ng-show="mode!='cal' && tasks.length>0" class="btn btn-info" ng-click="replan=true;generateReport(mode)" type="button"><em class="glyphicon glyphicon-repeat"></em> </button>
			</div>
	</div>

    <div class="panel-body" style="background: #FAFAFA;" ng-show="tasks.length>0">
                <div id="taskList" class="col-md-3 column" >

                        <input ng-if="tasks" type="text" class="form-control" placeholder="Filter Tasks" ng-model="project.filterTaskName" />

                    <div id="tasksDiv">
                        <table class="table table-responsive table-bordered">
                        <tr ng-click="taskDetail(task.id)" title="{{task.name}}" class="active" 
                            ng-repeat="task in tasks | orderBy:'start' | filter:project.filterTaskName ">
                            <td class="info">
                                <div style="color:grey"><b>{{$index+1}}</b></div>
                                <br/>
                                <div ng-show="isMyTask(task)">
                                    <a><em style="color:rgb(96, 139, 181);" class="glyphicon glyphicon-user"></em></a>
                                </div>
                                <div ng-show="task.effort==0">
                                    <a><em style="color:#515151" class="glyphicon glyphicon-screenshot"></em></a>
                                </div>
                               <div ng-show="task.complete==100">
                                    <em style="color:green" class="glyphicon glyphicon-ok"></em>
                                </div>
                                <div ng-show="task.dependent_of.length>0">
                                    <em style="color:grey" class="glyphicon glyphicon-export"></em>
                                </div>
                                <div ng-show="task.depends.length>0">
                                    <em style="color:grey" class="glyphicon glyphicon-import"></em>
                                </div>

                            </td>
                            <td ng-class="{'success':task.complete==100, 'warning':task.complete==0 && !isTaskLate(task), 'danger':isTaskLate(task)}">
                                <a class="taskA" ng-class="{'farsi':!$parent.isASCII(task.title)}" style="font-size: 13px;" data-task-title="{{toTitleCase(task.title)}}" 
                                    ng-mouseover="taskHoverIn()" ng-mouseleave="taskHoverOut()" id="task_{{task.id}}" >{{toTitleCase(task.title).slice(0,30)}}</a>
                            <div class="progress" style="height:3px;">
                              <div class="progress-bar" role="progressbar" aria-valuenow="{{task.complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{task.complete}}%;">
                                  <span class="sr-only">{{task.complete}}% Complete</span>
                              </div>
                            </div>
                            <small style="color:grey" ng-repeat="person in task.resources track by $index">
                                <a style="color:grey" href="#/user/{{person.id}}">{{person.lastname}}</a><small ng-if="$index!=task.resources.length-1">, <small>

                            </small>

                            </td>
                        
                        </tr>
                        </table>

                    </div>
				</div>
				<div class="col-md-9 column">
                    <div id="projectDetailContainer">
                        <div id="projectDetailDiv"></div>
                    </div>
            </div>
            </div>

            <div class="row clearfix">
				<div class="col-md-3 column">
                </div>
				<div class="col-md-6 column">
                </div>
                <div class="col-md-3 column">
                </div>
            </div>


</div>
<hr/>
</div>
    <div ng-include="'pages/comment/index.html'"></div>

<script>
    $(document).ready(function(){
        $('#taskAddButton').click(function(){
            $('#taskAddModal').modal('show');
        });
        $('#taskSeqButton').click(function(){
            $('#taskSeqModal').modal('show');
        });
        $('#editProjectButton').click(function(){
            $('#projectEditModal').modal('show');
        });




    });
</script>


