<style>

    #printable { display: none; }

    @media print
    {
    	#non-printable { display: none; }
    	#printable { display: block; }
    }


table {
border-collapse: 0px;
border-spacing: 0;
}
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

.tj_table_frame {
line-height: 1;
margin-left: auto;
margin-right: auto;
text-align: center;
background-color: #9a9a9a;
margin-top: 15px;
margin-bottom: 15px;
box-shadow: 1px 1px 17px #000D1A;
border: 7px solid #E0E0E0;
border-radius: 2px;
border-spacing: 0px;
text-rendering: geometricPrecision;
text-shadow: 1px 1px 3px #ccc;
text-color: #fff;
}
.taskbarframe {
background-color: #000000;
position: absolute;
box-shadow: 0px 0px 28px #8FB4C7;
}

.offduty {
background-color: rgba(185, 206, 219, 1);
white-space: nowrap;
position: absolute;
}
.taskbar {
background-color: #36B0D5;
position: absolute;
}
.tabhead {
white-space: nowrap;
background-color: #E6E6E6;
color: #373737;
text-align: center;
}
.progressbar {
background-color: #510062;
position: absolute;
}
.tj_table_header_cell {
padding: 1px 5px 1px 3px;
white-space: nowrap;
border-spacing: 0px;
color: #000000;
overflow: hidden;
}
.free {
background-color: #D7FFA5;
position: absolute;
}

.tj_table {
background-color: rgba(54, 153, 213, 0.76);
margin: 0px;
border-spacing: 1px;
}
.busy {
background-color: #C399FF;
position: absolute;
}
.caltask1 {
background-color: #FFEDA5;
}

/*
.taskcell1{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;
}

.taskcell2{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;
}
.resourcecell1{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;

}
.resourcecell2{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;
}
.tabcell{
border-right: 1px solid #57BEDD;
border-bottom: 1px solid #57BEDD;
}
*/
</style>

<div class="container" ng-init="getProjectDetails()">
    <br/>
	<div class="row clearfix">




			<div class="modal fade" id="taskAddModal" role="dialog" ng-init="getTasksList()" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Create a new task
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" ng-init="getResources()" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Task title</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="New task name" ng-model="newtask.title" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Make task a milestone</label>
					<div class="col-sm-6">
                        <input type="checkbox" class="form-control" placeholder="New task name" ng-model="newtask.isMilestone" />
					</div>
				</div>
				<div class="form-group" ng-show="!newtask.isMilestone" >
					 <label for="inputEmail3" class="col-sm-4 control-label">Start</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="Task start date" ng-model="newtask.start" />
					</div>
				</div>
				<div class="form-group" ng-show="newtask.isMilestone">
					 <label for="inputEmail3" class="col-sm-4 control-label">Delivery</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="Task End date" ng-model="newtask.end" />
					</div>
				</div>
				<div class="form-group" ng-show="!newtask.isMilestone">
					 <label for="inputEmail3" class="col-sm-4 control-label">Effort</label>
					<div class="col-sm-6">
                        <input type="number" min="0" max="96" class="form-control" placeholder="How many hours?" ng-model="newtask.effort" required/>
					</div>
				</div>

				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Task Manager</label>
					<div class="col-sm-6">
                    <select class="form-control" placeholder="Who's running the task?" ng-model="newtask.manager">
                        <option ng-repeat="resource in resources" value="{{resource.id}}">{{resource.firstname}} {{resource.lastname}}</option>
                    </select>
                     </div>
                 </div>



				<div class="form-group" ng-show="!newtask.isMilestone">
					 <label for="inputPassword3" class="col-sm-4 control-label">Resources</label>
					<div class="col-sm-6">
                    <select class="form-control" placeholder="Who's running the task?" ng-model="newtask.resources" multiple>
                        <option ng-repeat="resource in resources" value="{{resource.id}}">{{resource.firstname}} {{resource.lastname}}</option>
                    </select>
                     </div>
                </div>

				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Task Priority</label>
					<div class="col-sm-6">
                        <input type="number" min="1" max="1000" class="form-control" placeholder="How many hours?" ng-init="newTaskEffort=0" ng-model="newtask.priority" required/>
					</div>
				</div>



				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Depends On</label>
					<div class="col-sm-6">
                    <select class="form-control" ng-model="newtask.depends" multiple>
                        <option value="0"></option>
                        <option ng-repeat="task in tasks" value="{{task.id}}">{{task.title}}</option>
                    </select>
                     </div>
                </div>

			</form>


						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="resetNewtask()" data-dismiss="modal">Close</button>
                            <button type="button" ng-disabled="!newtask.title || !newtask.manager"
                                ng-click="createNewTask()" class="btn btn-success">Create new task</button>
						</div>
					</div>

				</div>

			</div>







			<div class="modal fade" id="taskDetailModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">
								Task Edit Area
							</h4>
						</div>
                        <div class="modal-body">

			<form class="form-horizontal" role="form">
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Task title</label>
					<div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Task name" ng-model="editTaskInfo.title" />
					</div>
				</div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Start</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="Task start date" ng-model="editTaskInfo.start" />
					</div>
				</div>
				<div class="form-group" ng-show="editTaskInfo.effort==0">
					 <label for="inputEmail3"  class="col-sm-4 control-label">end</label>
					<div class="col-sm-6">
                        <input type="date" class="form-control" placeholder="Task end date" ng-model="editTaskInfo.end" />
					</div>
                </div>

				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Effort</label>
					<div class="col-sm-6">
                        <input type="number" min="0" max="96" class="form-control" placeholder="Task effort" ng-model="editTaskInfo.effort" />
					</div>
                </div>
				<div class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Priority</label>
					<div class="col-sm-6">
                        <input type="number" min="1" max="1000" class="form-control" placeholder="Task effort" ng-model="editTaskInfo.priority" />
					</div>
                </div>

				<div class="form-group" >
					 <label for="inputPassword3" class="col-sm-4 control-label">Resources</label>
					<div class="col-sm-6">
                    <select class="form-control" placeholder="Who's running the task?" ng-model="editTaskInfo.updatedResources" multiple>
                        <option ng-selected="isCurrenclyResource(resource.id)" ng-repeat="resource in resources" value="{{resource.id}}">{{resource.firstname}} {{resource.lastname}}</option>
                    </select>
                     </div>
                </div>
				<div class="form-group">
					 <label for="inputPassword3" class="col-sm-4 control-label">Depends On</label>
					<div class="col-sm-6">
                    <select class="form-control" ng-model="editTaskInfo.updatedDepends" multiple>
                        <option value="0"></option>

                        <option ng-selected="isCurrenclyDependentOf(task.id)" ng-repeat="task in can_depend" value="{{task.id}}">{{task.title}}</option>
                    </select>
                     </div>
                </div>

            	<div ng-show="editTaskInfo.effort" class="form-group">
					 <label for="inputEmail3" class="col-sm-4 control-label">Complete</label>
					<div class="col-sm-6">
                        <div class="input-group-addon">{{editTaskInfo.complete}}</div>
                        <input type="range" class="form-control" min="0" max="100" placeholder="Task effort" ng-model="editTaskInfo.complete" />
					</div>
                </div>


			</form>


						</div>
						<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" ng-click="deleteTask(editTaskInfo.id)" class="btn btn-danger" >Delete Task</button>
                            <button type="button" ng-show="editTaskInfo.updatedResources || editTaskInfo.effort==0"
                                ng-click="updateTask(editTaskInfo.id)" class="btn btn-primary">Update task</button>
						</div>
					</div>

				</div>

			</div>









		<div class="col-md-12 column">
			<div class="btn-group">
                <button id="taskAddButton" class="btn btn-default" type="button"><em class="glyphicon glyphicon-plus"></em> Add TASK</button>
                <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-pencil"></em> Edit</button>
                <button class="btn btn-default" ng-class="{'active':mode=='plan', 'btn-success':mode=='plan'}" ng-class="{'active':mode=='plan'}" ng-click="generateReport('plan')" type="button"><em class="glyphicon glyphicon-eye-open"></em> Plan</button>
                <button class="btn btn-default" ng-class="{'active':mode=='guntt', 'btn-success':mode=='guntt'}" ng-click="generateReport('guntt')" type="button"><em class="glyphicon glyphicon-eye-open"></em> Gantt</button>
                <button class="btn btn-default" ng-class="{'active':mode=='resource', 'btn-success':mode=='resource'}" ng-click="generateReport('resource')" type="button"><em class="glyphicon glyphicon-align-right"></em> Resources</button>
                <button class="btn btn-default" ng-class="{'active':mode=='profitAndLoss', 'btn-success':mode=='profitAndLoss'}" ng-click="generateReport('profitAndLoss')" type="button"><em class="glyphicon glyphicon-adjust"></em> Budget</button>
                <button class="btn btn-default" ng-click="print()" type="button"><em class="glyphicon glyphicon-print"></em> </button>
                <button class="btn btn-default" ng-click="replan=true;generateReport(mode)" type="button"><em class="glyphicon glyphicon-repeat"></em> </button>
			</div>
    <br/>
    <br/>


			<div class="row clearfix">
                <div class="col-md-3 column">
                        <input type="text" class="form-control" style="width:50%" placeholder="Filter Tasks" ng-model="filterTaskName" />
                        <br/>
                    <div id="tasksDiv">
                        <ol class="">
                            <li ng-click="taskDetail(task.id)" title="{{task}}" class="taskA" ng-repeat="task in tasks | orderBy:'start' | filter:filterTaskName ">
                            
                            <a class="btn-sm" style="color: #13560C;" data-task-title="{{toTitleCase(task.title)}}" ng-mouseover="taskHoverIn()" ng-mouseleave="taskHoverOut()" id="task_{{task.id}}" >{{toTitleCase(task.title)}}</a></li>
                        </ol>

                    </div>
				</div>
				<div class="col-md-6 column">
                    <div id="projectDetailContainer">
                        <div id="projectDetailDiv"></div>
                    </div>

			<div class="row clearfix">
                <div class="col-md-3 column">
  			        <div id="canvasDiv" >
                        <canvas style="padding:10px;" id="progressChart" width="196" height="196"></canvas>		
                    </div>
				</div>
                <div class="col-md-4 column"> </div>
			</div>
				</div>
		</div>
	</div>
</div>


<script>
    $(document).ready(function(){

        $('#taskAddButton').click(function(){
            $('#taskAddModal').modal('show');
        });





    });


</script>


