

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


@font-face { font-family: 'YEKAN_0'; src: local('b BYekan'),url('../fonts/YEKAN_0.TTF') format('truetype'); } 
.right{ direction:rtl; font-family: 'Terafik'; }

@font-face{font-family:"Terafik";
    src:url('../fonts/terafik.eot');
    src:url('../fonts/terafik.eot?#iefix') format('embedded-opentype'),
        url('../fonts/terafik.svg#Terafik') format('svg'),
        url('../fonts/terafik.woff') format('woff'),
        url('../fonts/terafik.ttf') format('truetype')
    }


#profileImageDiv :hover {
    opacity: .75;
    cursor:pointer;
}

#projectGrid {
    height: auto;
  }

#projectNameDiv
{
    margin:5px;
    border:1px solid #ccc;
    padding:5px;
    height:200px;
}
#projectDetailDiv{
     margin:5px;
    min-height:200px;

}
.taskA:hover {
    cursor:pointer;
}

#projectDetailContainer{
    width:100%;
    min-height: 100px;
/*
    background: url('../images/loading_3.gif') no-repeat center;
    background-size: 164px 128px;
    background-position: 40% 10%;
*/
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
    min-height: 16.42857143px;
    background: #3F87C5;
    color: #fff;
    border-radius: 2px;
}
.form-horizontal {
    background: #F8F8F8;
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #ccc;
/* box-shadow: inset 0px 0px 15px rgba(17, 17, 17, 0.12); */
}

.modal-body {
    position: relative;
    padding: 6px;
/* box-shadow: inset 0px 0px 10px rgba(17, 17, 17, 1); */
}

.modal-content {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #E5E5E5;
    background: rgba(26, 26, 26, 0.84);
}


.form-group {
    margin-bottom: 5px;


}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    background: #FFFFDF;
}
table { 
    border-collapse: inherit;
    border-spacing: 0px;
}


.useracessDiv{
    padding:5px;
    border-bottom:1px solid #ccc;
    min-height:110px;
}

.useracessDiv:last-of-type {
    padding:5px;
    border-bottom:0px solid #ccc;
    min-height:110px;
}
.useracessDiv:first-of-type {
    padding:5px;
    border-top:1px solid #34AFD5;
    min-height:110px;
}

#report_textarea{
    min-height:200px;
    margin:auto;
    font-size:14px;
}

.farsi {
    direction:rtl;
    text-align:right;
    font-family:Terafik;
    -webkit-font-smoothing: antialiased;
}

#SequencesDiv{
    padding:20px;
}
.projectSeqA {
    background:#53658C;
    color:#f2f2f2;
    padding:1px;
    margin:1px;
    display:inline-block;
    border:1px solid #eee;
    border-radius:5px;
    width:29px;
    text-align:center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.projectSeqA:hover {
    text-decoration: none;
    color: white;
    background: #c12e2a;
    border: 1px solid #F7C2C2;
    transform: scale(2,2);
    box-shadow: 1px 1px 20px #FF3F3F;

}


#canvasDiv{
    margin-left:64px;
}


.projectCollectionsA {
    background: #FFE09D;
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    /* font-weight: bold; */
    margin: 1px;
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
.projectCollectionsA:hover {
    text-decoration: none;
    color: black;
    background: #FFDF00;
    border: 1px solid #C3C3C3;
    transform: scale(1.25,1.25);
    box-shadow: 1px 1px 20px #FFCB00;
}
#AssetsAndSequencesOfProject{
    background:#FFFAE7;
    padding:10px;
    border-radius:5px;
}
#ManagementDivProject{
    background:#f8f8f8;
    padding:10px;
    border-radius:5px;
}

#projectSummery{
    background:#F2F6FF;
    padding:10px;
    border-radius:5px;
}
#projectDescription{
    padding:20px;
}
#projectDescription p{ 
    padding:5px;
    background:#F7F7F7;
    border:1px dotted #ccc;
}
#projectDescription p::first-letter { 
    font-size: 300%;
}
#projectDetailContainer{
    padding-top:5em;
}



