

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#profileImageDiv :hover{
    opacity: .75;
    cursor:pointer;
}

#projectGrid {
    height: auto;
  }

#projectNameDiv
{
    margin:5px;
    border:1px solid #ccc;
    padding:5px;
    height:200px;
}
#projectDetailDiv{
     margin:5px;
    min-height:200px;

}
.taskA:hover{
cursor:pointer;
}

#projectDetailContainer{
    width:100%;
    min-height: 580px;
    background: url('../images/loading_3.gif') no-repeat center;
    background-size: 164px 128px;
    background-position: 40% 10%;
}











