

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#profileImageDiv :hover {
    opacity: .75;
    cursor:pointer;
}

#projectGrid {
    height: auto;
  }

#projectNameDiv
{
    margin:5px;
    border:1px solid #ccc;
    padding:5px;
    height:200px;
}
#projectDetailDiv{
     margin:5px;
    min-height:200px;

}
.taskA:hover {
cursor:pointer;
}

#projectDetailContainer{
    width:100%;
    min-height: 580px;
    background: url('../images/loading_3.gif') no-repeat center;
    background-size: 164px 128px;
    background-position: 40% 10%;
}
.modal-header {
padding: 15px;
border-bottom: 1px solid #E8E8E8;
min-height: 16.42857143px;
background: #3F87C5;
color: #fff;
border-radius: 2px;
}
.form-horizontal {
background: #F8F8F8;
padding: 13px;
border-radius: 5px;
border: 1px solid #ccc;
/* box-shadow: inset 0px 0px 15px rgba(17, 17, 17, 0.12); */
}

.modal-body {
position: relative;
padding: 6px;
/* box-shadow: inset 0px 0px 10px rgba(17, 17, 17, 1); */
}

.modal-content {
position: relative;
background-color: rgba(255, 255, 255, 1);
border: 1px solid #999;
border: 1px solid rgba(0,0,0,.2);
border-radius: 6px;
-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
box-shadow: 0 3px 9px rgba(0,0,0,.5);
background-clip: padding-box;
outline: 0;
}

.modal-footer {
margin-top: 15px;
padding: 19px 20px 20px;
text-align: right;
border-top: 1px solid #E5E5E5;
background: rgba(26, 26, 26, 0.84);
}


.form-group {
margin-bottom: 5px;


}
.form-control:focus {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
background: #FFFFDF;
}
table { 
border-collapse: inherit;
border-spacing: 0px;
}








